body {
	margin: 0 0;
	background-color: rgb(110, 45, 176);
	box-sizing: border-box;
}
#head {
	display: flex;
	justify-content: left;
	margin: 10px 10px;

	padding-left: 3%;

	background-image: url("lavender-flower.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	h1 {
		display: flex;
		flex-wrap: wrap;
		font-family: Garamond;
		font: 200;
		font-size: 65px;
		font-size: clamp(40px, 50px, 65px);
		color: white;
		text-shadow: 3px 3px black;
	}
}

a,
ul {
	text-decoration: none;
	list-style: none;
	color: black;
}

#linksPage {
	margin: 10px 10px;
	min-height: 43.75rem;
	background-color: lightslategray;
	font-family: Garamond;
	font-size: x-large;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h1 {
		display: flex;
		max-width: 80%;
		align-items: center;

		font-size: clamp(1.65rem, 5vw, 4rem);

		background-color: rgb(110, 45, 176);
		text-shadow: 2px 2px black;
		color: white;
		border: 3.5px solid black;
		padding: 1% 10%;

		img {
			width: clamp(35px, 61.5px, 70px);
			height: clamp(15px, 41.5px, 50px);
		}
	}

	#lavender {
		transform: scaleX(-1);
	}

	#linkList ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		max-width: 1200px;
		gap: 80px;
		padding: 0 0;

		text-shadow: none;

		li {
			display: flex;
			flex-direction: column;

			/*
            p {
                padding: 0 0;
                font-size: large;
                color: darkslateblue;
                padding: 2%;
                margin: 0 0;

            }*/

			a {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				background-color: white;
				box-shadow: 3px 3px black;
				border: 4px solid black;

				min-height: 120px;
				width: 250px;
				max-width: 100%;
				padding: 20px 20px;
			}

			a:hover {
				background-color: rgba(255, 255, 255, 0.727);
				box-shadow: -2px -2px black;
			}

			.Belk,
			.Kohls {
				padding: 35px 20px;
			}

			.RSVP {
				padding: 6px 20px;
			}
		}
	}
}

@media screen and (max-width: 722px) {
	#linksPage {
		#linkList ul {
			gap: 40px;

			li {
				a {
					width: 100px;
					max-width: 100%;
					padding: 8px 10px;

					img {
						width: clamp(35px, 120px, 200px);
						height: clamp(15px, 70px, 150px);
					}
				}

				a:hover {
					box-shadow: -1px -1px black;
				}

				.RSVP,
				.Belk,
				.Kohls {
					padding: 8px 10px;
				}

				.RSVP {
					img {
						width: 180px;
						height: 120px;
					}
				}

				.Belk {
					img {
						width: 90px;
						height: 40px;
					}
				}

				.Kohls {
					img {
						width: 90px;
						height: 25px;
					}
				}

				.Walmart {
					img {
						width: 98px;
						height: 78px;
					}
				}
			}
		}
	}
}
