body {
	margin: 0 0;
	background-color: black;
    box-sizing: border-box;
}
#head {
	display: flex;
	justify-content: left;

	padding-left: 3%;

	background-image: url("lavender-flower.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	h1 {
        display: flex;
        flex-wrap: wrap;
		font-family: Garamond;
		font: 200;
		font-size: 65px;
		color: white;
		text-shadow: 3px 3px black;
	}
}

a,
ul {
	text-decoration: none;
	list-style: none;
	color: black;
}

#linksPage {
    margin: 10px 10px;
    min-height:44.5rem;
    background-color: lightslategray;
    font-family: serif;
    font-size: x-large;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        display: flex;
        
        background-color: rgb(110, 45, 176);
        text-shadow: 2px 2px black;
        color: white;
        padding: 1% 10%;
        box-shadow: 2px 2px black;
    }

    #linkList ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1200px;
        gap: 80px;

        text-shadow: none;
        
        li {
            display: flex;
            flex-direction: column;

            /*
            p {
                padding: 0 0;
                font-size: large;
                color: darkslateblue;
                padding: 2%;
                margin: 0 0;

            }*/

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;

                background-color: white;
                box-shadow: 3px 3px black;

                min-height: 120px;
                width: 250px;
                max-width: 100%;
                padding: 20px 20px;
            }

            a:hover {
                background-color: rgba(255, 255, 255, 0.837);
                box-shadow: -3px -3px black;
            }

            .Kohls {
                padding: 35px 20px;
            }
        }
    }
}
