body {
	margin: 0 0;
	background-color: rgb(110, 45, 176);
	box-sizing: border-box;
}
#head {
	display: flex;
	justify-content: left;
	margin: 0 10px;
	margin-top: 10px;
	margin-bottom: 8px;

	padding-left: 3%;

	background-image: url("lavender-flower.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	h1 {
		display: flex;
		flex-wrap: wrap;
		font-family: Garamond;
		font: 200;
		font-size: 65px;
		font-size: 50px;
		color: white;
		text-shadow: 3px 3px rgb(59, 6, 75);
	}
}

a,
ul {
	text-decoration: none;
	list-style: none;
	color: black;
}

#linksPage {
	margin: 0 10px;

	background-color: rgb(207, 192, 221);
	font-family: Garamond;
	font-size: x-large;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h1 {
		display: flex;
		max-width: 80%;
		align-items: center;

		font-size: clamp(1.9rem, 5vw, 4rem);
		text-shadow: 1.5px 1.5px rgb(84, 8, 107);
		color: rgb(173, 108, 238);
		padding: 0 4%;

		img {
			width: clamp(30px, 82px, 100px);
			height: clamp(10px, 62px, 80px);
		}
	}

	#lavender {
		transform: scaleX(-1);
	}

	#linkList ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		max-width: 1200px;
		min-height: 502px;
		gap: 80px;

		margin: 25px 0;
		padding: 0 0;

		text-shadow: none;

		li {
			display: flex;
			flex-direction: column;

			p {
				display: flex;
				justify-content: center;
				margin: 6.5% 0;

				color: rgb(152, 92, 212);
				font: 500;
				font-size: clamp(0.75rem, 1.3vw, 2rem);
				font-family: Garamond;
				font-style: italic;
				text-shadow: 1px 1px rgb(170, 169, 169);

				background-color: aliceblue;
				border-radius: 50px;
				box-shadow: 1px 1px rgb(152, 92, 212);
				padding: 5px;
			}

			a {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				background-color: white;
				box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
				border-radius: 12px;

				min-height: 120px;
				width: 250px;
				max-width: 100%;
				padding: 20px 10px;

				transition:
					transform 0.3s ease,
					box-shadow 0.3s ease;
			}

			a:hover {
				box-shadow: 0 12px 22px rgba(0, 0, 0, 0.12);
				transform: translateY(-5px) translateX(-5px);
			}

			.Belk,
			.Kohls {
				padding: 35px 10px;
			}

			.RSVP {
				padding: 1px 10px;
			}

			.target {
				padding: 31px 10px;
			}

			.Walmart {
				padding: 35px 10px;
			}
		}
	}
}

@media screen and (max-width: 1530px) {
	#linksPage {
		#linkList ul {
			margin: 15px 0;
			column-gap: 80px;
			row-gap: 35px;
		}
	}
}

@media screen and (max-width: 722px) {
	#head {
		h1 {
			font-size: 30px;
		}
	}
	#linksPage {
		h1 {
			img {
				width: 50px;
				height: 30px;
			}

			text-shadow: 1px 1px black;
		}

		#linkList ul {
			gap: 45px;

			li {
				a {
					width: 100px;
					max-width: 100%;
					padding: 1px 10px;

					img {
						width: clamp(35px, 120px, 200px);
						height: clamp(15px, 72px, 150px);
					}
				}

				.RSVP,
				.Belk,
				.Kohls,
				.target,
				.Walmart {
					padding: 1px 10px;
				}

				.RSVP {
					img {
						width: 180px;
						height: 120px;
					}
				}

				.Belk {
					img {
						width: 90px;
						height: 37px;
					}
				}

				.Kohls {
					img {
						width: 90px;
						height: 25px;
					}
				}

				.Walmart {
					img {
						width: 98px;
						height: 65px;
					}
				}

				.target {
					img {
						width: 120px;
						height: 67px;
					}
				}
			}
		}
	}
}
