<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
		<meta name="theme-color" content="#7433B5">
		<meta name="format-detection" content="telephone=no">
		<title>Wedding Registry</title>
		<link rel="stylesheet" href="views/style.css" />
		<link rel="icon" type="image/png" href="images/cross.png">
	</head>
	<body>
		<div id="head">
			<a href="/registry"><h1>Isabelle & Jamison's Wedding</h1></a>
		</div>

		<div id="linksPage">
			<h1 class="donation">
                <img id="lavender" src="images/lavender-cartoony.png" alt="lavender" />
                <span>Japan Donation!</span>
                <img src="images/lavender-cartoony.png" alt="lavender" />
            </h1>

			<div id="linkList">
				<ul class="honeymoonPayments">
					<li>
						<a class="cashApp" href="/honeymoonRegistry"
							><img
								src="../images/Cashapp-Logo.png"
								alt="Cashapp Logo"
								width="200px"
								height="165px"
						/></a>
						<p>Cashapp: $J4Realzz</p>
					</li>
					<li>
						<a class="applePay" href="/honeymoonRegistry"
							><img
								src="../images/ApplePay-Logo.png"
								alt="ApplePay Logo"
								width="180px"
								height="165px"
						/></a>
						<p class="apple" style="font-size: clamp(0.74rem, 1.2vw, 2rem)">ApplePay: (423)608-3875</p>
					</li>
					<li>
						<a class="paypal" href="/honeymoonRegistry"
							><img
								src="../images/Paypal-Logo.png"
								alt="PayPal Logo"
								width="170px"
								height="164px"
						/></a>
						<p>PayPal: jhunt0129</p>
					</li>
					<li>
						<a class="venmo" href="https://venmo.com/u/J4Realzz"
							><img
								src="../images/Venmo-Logo.png"
								alt="Venmo Logo"
								width="180px"
								height="162px"
						/></a>
						<p>Venmo: J4Realzz</p>
					</li>
					<li>
						<a class="back" href="/registryLinks"
							><img
								src="../images/backArrow.png"
								alt="Venmo Logo"
								width="165px"
								height="162px"
						/></a>
						<p>Back To Links</p>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
