<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Wedding Registry</title>
		<link rel="stylesheet" href="views/style.css" />
		<link rel="icon" type="image/png" href="images/cross.png">
	</head>
	<body>
		<div id="head">
			<a href="/"><h1>Isabelle & Jamison's Wedding</h1></a>
		</div>

		<div id="linksPage">
			<h1>
				<img
					id="lavender"
					src="images/lavender-cartoony.png"
					alt="lavender"
					width="70px"
					height="50px"
				/>Honeymoon Donation<img
					src="images/lavender-cartoony.png"
					alt="lavender"
					width="70px"
					height="50px"
				/>
			</h1>

			<div id="linkList">
				<ul>
					<li>
						<a class="RSVP" href="https://cash.app/$J4Realzz"
							><img
								src="images/Cashapp-Logo.png"
								alt="Cashapp Logo"
								width="280px"
								height="190px"
						/></a>
						<p>Cashapp: $J4Realzz</p>
					</li>
					<li>
						<a class="honeymoon" href="/honeymoon"
							><img
								src="images/Applepay-Logo.png"
								alt="ApplePay Logo"
								width="180px"
								height="165px"
						/></a>
						<p class="Long-Text">ApplePay: 423-608-3875</p>
					</li>
					<li>
						<a class="target" href="/honeymoon"
							><img
								src="images/Paypal-Logo.png"
								alt="PayPal Logo"
								width="235px"
								height="130px"
						/></a>
						<p>PayPal: jhunt0129</p>
					</li>
					<li>
						<a href="https://venmo.com/u/J4Realzz"
							><img
								src="images/Venmo-Logo.png"
								alt="Venmo Logo"
								width="250px"
								height="150px"
						/></a>
						<p>Venmo: J4Realzz</p>
					</li>
				</ul>
			</div>
		</div>

		<div id="honeymoonLinks">
			
		</div>
	</body>
</html>
