<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Wedding Registry</title>
		<link rel="stylesheet" href="views/style.css" />
		<link rel="icon" type="image/png" href="images/cross.png">
	</head>
	<body>
		<div id="head">
			<a href="/"><h1>Isabelle & Jamison's Wedding</h1></a>
		</div>

		<div id="linksPage">
			<h1 class="donation" style="font-size: clamp(1.51rem, 5vw, 4rem);">
				<img
					id="lavender"
					src="images/lavender-cartoony.png"
					alt="lavender"
					width="70px"
					height="50px"
					style="width: clamp(30px, 35px, 100px); height: clamp(10px, 25px, 80px);"
				/>Honeymoon Donation<img
					src="images/lavender-cartoony.png"
					alt="lavender"
					width="70px"
					height="50px"
					style="width: clamp(30px, 35px, 100px); height: clamp(10px, 25px, 80px);"
				/>
			</h1>

			<div id="linkList">
				<ul class="honeymoonPayments">
					<li>
						<a class="cashApp" href="/honeymoon"
							><img
								src="../images/Cashapp-Logo.png"
								alt="Cashapp Logo"
								width="200px"
								height="165px"
						/></a>
						<p>Cashapp: $J4Realzz</p>
					</li>
					<li>
						<a class="applePay" href="/honeymoon"
							><img
								src="../images/ApplePay-Logo.png"
								alt="ApplePay Logo"
								width="180px"
								height="165px"
						/></a>
						<p class="apple" style="font-size: clamp(0.60rem, 1.3vw, 2rem)">ApplePay: 423-608-3875</p>
					</li>
					<li>
						<a class="paypal" href="/honeymoon"
							><img
								src="../images/Paypal-Logo.png"
								alt="PayPal Logo"
								width="170px"
								height="164px"
						/></a>
						<p>PayPal: jhunt0129</p>
					</li>
					<li>
						<a class="venmo" href="https://venmo.com/u/J4Realzz"
							><img
								src="../images/Venmo-Logo.png"
								alt="Venmo Logo"
								width="180px"
								height="162px"
						/></a>
						<p>Venmo: J4Realzz</p>
					</li>
					<li>
						<a class="back" href="/links"
							><img
								src="../images/backArrow.png"
								alt="Venmo Logo"
								width="165px"
								height="162px"
						/></a>
						<p>Back To Links</p>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
