<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <meta name="theme-color" content="#7433B5">
        <title>Jamison & Isabelle's Wedding</title>
        <link rel="stylesheet" href="views/style.css" />
        <link rel="icon" type="image/png" href="images/cross.png">
    </head>
    <body>
        <div id="head">
            <a href="/"><h1>Jamison & Isabelle's Wedding</h1></a>
        </div>

        <div id="homeContent">
            
            <div class="home-image-container">
                <img src="../images/10080Hunt_Roll 2-025.jpg" alt="Isabelle and Jamison" class="couple-photo" />
            </div>

            <div class="home-text-container">
                <h2>Thank You!</h2>
                <p>We are so incredibly grateful for all of your love and support as we begin this new chapter together. Thank you for celebrating with us and being a part of our special day!</p>
                
                <a href="/links" class="links-button">View RSVP & Registries</a>
            </div>
        </div>
    </body>
</html>